<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body class="container">

<div th:replace="/public/head">
</div>

<article class="article">
    <header>

        <dl class="dl-inline pull-right">
            <dt class="text-right">
                <span class="text-left" th:text="${#dates.format(goods.publishtime, 'yyyy-MM-dd HH:mm')}"></span>
                <a th:href="@{/favorite/} + ${goods.goodsid}" th:if="${!isfavorite}">收藏</a>
                <a th:text="已收藏" th:if="${isfavorite}"></a>
                <a class="" th:text="举报" th:href="@{#}"></a>
            </dt>
        </dl>
        <h1 class="text-left" th:text="${goods.title}">HTML5</h1>
    </header>

    <section class="content">
        <p>价格：<span th:text="${goods.price}"></span></p>
        <p>联系人：<span th:text="${user.realname}"></span></p>
        <p>联系方式：<span th:text="${user.phone}"></span></p>
    </section>

    <section class="content">
        <h2>信息详情</h2>
        <hr>
        <p class="font" th:text="${goods.description}"></p>
    </section>

</article>


<div th:replace="~{/public/footer :: copy}"></div>

</body>
</html>