<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>收藏夹</title>
</head>
<body class="container">

<div th:replace="/public/head">
</div>

<!--<div class="list-group">-->

    <!---->

<!--</div>-->

<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <td>#</td>
        <td>标题</td>
        <td class="text-right">操作</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="favoriteGoods:${favoriteGoodses}">
        <td></td>
        <td> <a th:href="@{/goods/} + ${favoriteGoods.goodsid}" th:text="${favoriteGoods.title}"></a></td>
        <td class="text-right"><button th:attr="del_favorite=@{/favorite/} + ${favoriteGoods.goodsid}" class="btn deleteBtn">删除</button></td>
    </tr>
    <form id="deleteFavorite" method="post">
        <input type="hidden" name="_method" value="delete">
    </form>
    </tbody>
</table>

<div th:with="page=${#httpServletRequest.getParameter('pageNum')}">
    <ul class="pager pager-loose" th:with="pageNum=${page==null}?'1':${page}">
        <li class="previous "><a th:if="${pageNum} >= 2" th:href="@{/favorite(pageNum=${pageNum}-1)}">&laquo;上一页</a></li>
        <li><a th:if="${pageNum}-2>0" th:href="@{/favorite(pageNum=${pageNum}-2)}" th:text="${pageNum}-2">1</a></li>
        <li><a th:if="${pageNum}-1>0" th:href="@{/favorite(pageNum=${pageNum}-1)}" th:text="${pageNum}-1">2</a></li>
        <li class="active"><a th:href="@{/favorite(pageNum=${pageNum})}" th:text="${pageNum}">3</a></li>
        <li><a th:if="${pageNum}+1<=${pageinfo.pages}" th:href="@{/favorite(pageNum=${pageNum}+1)}" th:text="${pageNum}+1">4</a></li>
        <li><a th:if="${pageNum}+2<=${pageinfo.pages}" th:href="@{/favorite(pageNum=${pageNum}+2)}" th:text="${pageNum}+2">5</a></li>
        <li class="next"><a th:if="${pageNum}<${pageinfo.pages}" th:href="@{/favorite(pageNum=${pageNum}+1)}">下一页&raquo;</a></li>
        <li><a th:text="'共'+${pageinfo.pages} + '页'">共</a></li>
    </ul>
</div>


<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script type="text/javascript" src="asserts/js/popper.min.js" th:src="@{/webjars/popper.js/1.14.1/esm/popper.js}"></script>
<script type="text/javascript" src="asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>

<script>
    $(".deleteBtn").click(function(){
        //删除
        $("#deleteFavorite").attr("action",$(this).attr("del_favorite")).submit();
        return false;
    });
</script>

<div th:replace="~{/public/footer :: copy}"></div>

</body>
</html>