<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>校园二手信息网站</title>
</head>
<body>

<div th:replace="public/head">
</div>


<h3>分类</h3><a>更多</a>


<div th:each="goods:${goodses}">
        <a th:href="@{/goods/} + ${goods.goodsid}" th:text="${goods.title}">Card title</a>
        <!--<p class="card-text"th:text="${goods.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <h5 th:text="${goods.description}"></h5>
        <h5 th:text="${goods.price}"></h5>
</div>

</body>
</html>