<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的发布</title>
</head>
<body>

<div th:replace="public/head">
</div>

<div th:each="Goods:${ListGoods}">
    <a th:href="@{/goods/} + ${Goods.goodsid}" th:text="${Goods.title}"></a>
    <a th:text="${Goods.price}"></a>


    <div>
        <a th:href="@{/mygoods/} + ${Goods.goodsid}">编辑</a>
        <button th:attr="del_mygoods=@{/mygoods/} + ${Goods.goodsid}" class="btn btn-sm btn-danger deleteBtn">
            删除
        </button>
    </div>
</div>

<form id="deleteMygoods" method="post">
    <input type="hidden" name="_method" value="delete">
</form>


<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"
        th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script type="text/javascript" src="asserts/js/popper.min.js"
        th:src="@{/webjars/popper.js/1.14.1/esm/popper.js}"></script>
<script type="text/javascript" src="asserts/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>

<script>
    $(".deleteBtn").click(function () {
        //删除当前员工的
        $("#deleteMygoods").attr("action", $(this).attr("del_mygoods")).submit();
        return false;
    });
</script>

</body>
</html>